<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Uþwita is an old English Word that means scholar. Our printers mark (see abouve) is Bede the 
          Venerable imposed on an old German heraldry shield. Bede, an English monk & scholar born c. 673, is known as the 
          father of English history.</p>
      </div>
      <div class="col-lg-4">
        <p>Uþwita Press publishes high quality books that center around history, philosophy
          and science. Its mission is to provide dissident scholarly books in a world where academia is dead. 
          Audacia pro muro et scuto opus. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
